@model List<Escuela.Dominio.Enrollment>
@{
    ViewData["Title"] = "ListaEnrollement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<h1 class=" animate__animated animate__rubberBand">Enrollement´s List</h1>

<button type="submit" class="btn btn-success animate__animated animate__lightSpeedInLeft"> @Html.ActionLink("Add Enrollment", "Combobox")</button>
<br />
<table id="mitablaenr" class="table table-dark table-hover">
    <thead>
        <tr>
            @*<th>Id Ernrollment</th>
        <th>Student Id</th>
        <th>Course Id</th>*@
            <th>Last Name</th>
            <th>FirstMidName</th>
            <th>Course to which it belongs</th>
            <th>Actions</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var iteracion in Model)
        {
        <tr>
            @*<td>@iteracion.EnrollmentId</td>
        <td>@iteracion.StudentID</td>
        <td>@iteracion.Course.CourseId</td>*@
            <td>@iteracion.Student.LastName</td>
            <td>@iteracion.Student.FirstMidName</td>
            <td>@iteracion.Course.Title</td>
            @*<td>@Html.ActionLink("", "",new { @class = "btn btn-danger" })</td>*@
        </tr>
        }


    </tbody>

</table>

@section Scripts{

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {

            var tabla = $('#mitablaenr').DataTable({


            })
        })
    </script>
}
